##  Shoprite Data CLEANING

In [1]:
import numpy as np  # mathematical functions
import pandas as pd  # data analysis
import matplotlib as plt  # data visualization

%matplotlib inline

## Load our Data

In [2]:
df = pd.read_csv('shop_rite_messy_data.csv')
df.head()

,Unnamed: 0,names,prices,sku,categories,tag
0,0,Chewy Caramel Alpenliebe 6.5G,₦34.99,Candy Milk Chewy Caramel Alpenliebe 6.5G,Category: Confectionery and Snacks,Tag: Candy
1,1,Milk Chewy Caramel Alpenliebe 6.5G,₦34.99,Milk Chewy Caramel Alpenliebe 6.5G,Category: Candy & bubble Gum,Tag: Alpenliebe
2,2,Seasoning Powder Jollof Maggi 8G,₦52.99,Seasoning Powder Jollof Maggi 8G,"Category: Condiments, Oils & Spices",Tag: Seasoning
3,3,Seasoning Powder Chicken Maggi 10G,₦52.99,Seasoning Powder Chicken Maggi 10G,"Category: Condiments, Oils & Spices",Tag: Seasoning
4,4,Chocolate Slab Milk Dune 5G,₦54.99,Chocolate Slab Milk Dune 5G,Category: Chocolate,Tag: Chocolate

## understand the Data

In [3]:
# drop the unnamed : o column
df.drop(columns ='Unnamed: 0',inplace = True)

In [4]:
#after dropping the columns
df.columns

Index(['names', 'prices', 'sku', 'categories', 'tag'], dtype='object')

In [5]:
df.shape

(100, 5)

In [6]:
df.duplicated().sum()

0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       100 non-null    object
 1   prices      100 non-null    object
 2   sku         100 non-null    object
 3   categories  100 non-null    object
 4   tag         100 non-null    object
dtypes: object(5)
memory usage: 4.0+ KB

##  Clean the price column

Remove the currency symbol

In [8]:
df['prices'] = df['prices'].str.replace('₦','').astype(float)

#### Find fields with Null

In [9]:
# for names
(df['names'] == 'Null').sum()

0

In [10]:
# for prices
(df['prices'] == 'Null').sum()

0

In [11]:
# for sku
(df['sku'] == 'Null').sum()

11

In [12]:
df['sku'] = df['sku'].replace('Null',np.nan)

In [13]:
# for categories
(df['categories'] == 'Null').sum()

5

In [14]:
df['categories'] = df['categories'].replace('Null',np.nan)

In [15]:
# for tag
(df['tag'] == 'Null').sum()

7

In [16]:
df['tag'] = df['tag'].replace('Null',np.nan)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       100 non-null    object
 1   prices      100 non-null    float64
 2   sku         89 non-null     object
 3   categories  95 non-null     object
 4   tag         93 non-null     object
dtypes: float64(1), object(4)
memory usage: 4.0+ KB

In [18]:
df.drop(columns = 'sku', inplace=True)

In [19]:
df.dropna(inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       93 non-null     object
 1   prices      93 non-null     float64
 2   categories  93 non-null     object
 3   tag         93 non-null     object
dtypes: float64(1), object(3)
memory usage: 3.6+ KB

In [21]:
df.head()

,names,prices,categories,tag
0,Chewy Caramel Alpenliebe 6.5G,34.99,Category: Confectionery and Snacks,Tag: Candy
1,Milk Chewy Caramel Alpenliebe 6.5G,34.99,Category: Candy & bubble Gum,Tag: Alpenliebe
2,Seasoning Powder Jollof Maggi 8G,52.99,"Category: Condiments, Oils & Spices",Tag: Seasoning
3,Seasoning Powder Chicken Maggi 10G,52.99,"Category: Condiments, Oils & Spices",Tag: Seasoning
4,Chocolate Slab Milk Dune 5G,54.99,Category: Chocolate,Tag: Chocolate

### Clean the category Column

In [22]:
df['categories'] = df['categories'].str.replace('Category: ', '')
df['categories'] = df['categories'].str.replace('Categories: ', '')

### Clean the tag column

In [23]:
df['tag'] = df['tag'].str.replace('Tag: ', '')

In [24]:
df.head()

,names,prices,categories,tag
0,Chewy Caramel Alpenliebe 6.5G,34.99,Confectionery and Snacks,Candy
1,Milk Chewy Caramel Alpenliebe 6.5G,34.99,Candy & bubble Gum,Alpenliebe
2,Seasoning Powder Jollof Maggi 8G,52.99,"Condiments, Oils & Spices",Seasoning
3,Seasoning Powder Chicken Maggi 10G,52.99,"Condiments, Oils & Spices",Seasoning
4,Chocolate Slab Milk Dune 5G,54.99,Chocolate,Chocolate

##  Save into CSV

In [25]:
df.to_csv('shop_rite_cleaned_data.csv')